<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gw.kisansewa"

    >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:logo="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--Homescreen-->

        <activity android:name=".Homescreen.Homescreen"
            android:launchMode="singleInstance"
            android:windowSoftInputMode="stateHidden"
            />

        <!--Auth Views-->
        <activity android:name=".authentication.FarmerRegister"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="stateHidden"
            android:launchMode="singleInstance"/>
        <activity android:name=".authentication.FarmerLogin"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="stateHidden"
            android:launchMode="singleInstance"/>

        <!--Confirm Buy View-->
        <activity android:name=".buyProductsTab.ConfirmProductBuy"
            android:launchMode="singleInstance"
            />

        <!--Purchase Requests-->
        <activity android:name=".purchaseRequests.PurchaseRequest"
            android:launchMode="singleInstance"
            />

        <!--Sell Requests-->
        <activity android:name=".sellRequests.SellRequests"
            android:launchMode="singleInstance"
            />

        <activity android:name=".orders.Order"
            android:launchMode="singleInstance"
            />

        <!--Edit Profile-->
        <activity android:name=".authentication.EditProfile"
            android:launchMode="singleInstance"
            />

        <!--Splash Screen-->
        <activity android:name=".SplashScreen"
            android:launchMode="singleInstance"
            android:theme="@style/NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>