<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gw.kisansewa"

    >

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:logo="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Homescreen.HomeScreen"
            android:launchMode="singleInstance"/>

        <activity android:name=".authentication.FarmerRegister"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:launchMode="singleInstance"/>

        <activity android:name=".sellProduct.SellProducts"
            android:launchMode="singleInstance"/>

        <activity android:name=".BuyProductsTab.ConfirmProductBuy"
            android:launchMode="singleInstance"/>
        <activity android:name=".purchasedProduct.Purchased"
            android:launchMode="singleInstance"/>
        <activity android:name=".soldProduct.Sold"
            android:launchMode="singleInstance"/>
        <activity android:name=".authentication.FarmerLogin"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:launchMode="singleInstance"/>

        <activity android:name=".SplashScreen"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>